################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/WLFSystem/FileContentIndex
# Ignore bin and obj directories
bin/
obj/
log/
.vs/
../.vs/
